<br>
<br>
<div fxLayout="row" fxLayoutAlign="center center">
  <h1>Bem Vindo(a)</h1>
</div>
<div fxLayout="colunn" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxFlex="65" fxLayoutAlign="end center">

  </div>
  <div fxLayout="row" fxFlex="30" fxLayoutAlign="end center">
    <mat-form-field appearance="outline">
      <mat-label>Pesquise pelo nome do livro, autor ou categoria</mat-label>
      <input matInput placeholder="O Inferno de Dante">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxFlex="15" fxLayoutAlign="end center">
    <button mat-raised-button color="primary">Accent</button>
  </div>
</div>

<br>
<div  fxLayout="row" fxLayoutAlign="space-between stretch">
  <mat-card *ngFor="let livro of livros" class="example-card">
    <mat-card-title>{{livro.nome}}</mat-card-title>
    <mat-card-subtitle>{{livro.categoria}}</mat-card-subtitle>
    <mat-card-content>
      <p>{{livro.autor}}</p>
      <p>Sinopse</p>
      <p>{{livro.descricao}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Já Li</button>
      <button mat-button>Vou Ler</button>
    </mat-card-actions>
  </mat-card>

</div>

<br>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="colunn" fxFlex="50" fxLayoutAlign="space-between center">
    aaaaaaaaaa
  </div>
  <div fxLayout="colunn" fxFlex="50" fxLayoutAlign="end center">
    aaaaaaaaaaaa
  </div>


</div>
<br>
<br>
<div fxLayout="row" fxLayoutAlign="center center" >
  <h3>Criado por Pâmela Araújo</h3>
</div>