<br>
<br>
<div fxLayout="row" fxLayoutAlign="center center">
  <h1>Bem Vindo(a)</h1>
</div>
<div fxLayout="colunn" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxFlex="65" fxLayoutAlign="end center">

  </div>
  <div fxLayout="row" fxFlex="30" fxLayoutAlign="end center">
    <mat-form-field appearance="outline">
      <mat-label>Pesquise pelo nome do livro, autor ou categoria</mat-label>
      <input matInput placeholder="O Inferno de Dante">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxFlex="15" fxLayoutAlign="end center">
    <button mat-raised-button color="primary">Accent</button>
  </div>
</div>

<br>
<div fxLayout="row" fxLayoutAlign="space-between stretch">
  <mat-card class="example-card">
    <mat-card-title>O inferno de Dante</mat-card-title>
    <mat-card-subtitle>Romance</mat-card-subtitle>
    <mat-card-content>
      <p>Silvia Araújo</p>
      <p>Sinopse</p>
      <p>De acordo com a gravidade dos pecados cometidos em vida,
        Dante descreve o castigo para cada grupo: os tiranos, os
        traidores, os aduladores, os suicidas, os heréticos, dentre
        outros. Na última parte ele encontra com Lúcifer, o demônio
        traidor que devora os três
        maiores traidores da história: Judas, Brutus e Cassius.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Já Li</button>
      <button mat-button>Vou Ler</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-title>O inferno de Dante</mat-card-title>
    <mat-card-subtitle>Romance</mat-card-subtitle>
    <mat-card-content>
      <p>Silvia Araújo</p>
      <p>Sinopse</p>
      <p>De acordo com a gravidade dos pecados cometidos em vida,
        Dante descreve o castigo para cada grupo: os tiranos, os
        traidores, os aduladores, os suicidas, os heréticos, dentre
        outros. Na última parte ele encontra com Lúcifer, o demônio
        traidor que devora os três
        maiores traidores da história: Judas, Brutus e Cassius.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Já Li</button>
      <button mat-button>Vou Ler</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-title>O inferno de Dante</mat-card-title>
    <mat-card-subtitle>Romance</mat-card-subtitle>
    <mat-card-content>
      <p>Silvia Araújo</p>
      <p>Sinopse</p>
      <p>De acordo com a gravidade dos pecados cometidos em vida,
        Dante descreve o castigo para cada grupo: os tiranos, os
        traidores, os aduladores, os suicidas, os heréticos, dentre
        outros. Na última parte ele encontra com Lúcifer, o demônio
        traidor que devora os três
        maiores traidores da história: Judas, Brutus e Cassius.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Já Li</button>
      <button mat-button>Vou Ler</button>
    </mat-card-actions>
  </mat-card>

</div>

<br>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="colunn" fxFlex="50" fxLayoutAlign="space-between center">
    aaaaaaaaaa
  </div>
  <div fxLayout="colunn" fxFlex="50" fxLayoutAlign="end center">
    aaaaaaaaaaaa
  </div>


</div>
<br>
<br>
<div fxLayout="row" fxLayoutAlign="center center" >
  <h3>Criado por Pâmela Araújo</h3>
</div>